.counter {
    -fx-background-color: "#6d6875";
    -fx-border-color: "#b5838d";
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-background-radius: 2px;
    -fx-text-fill: "ffb4a2";
    -fx-font-family: "consolas";
    -fx-font-size: 16;
}
.controlBar {
    -fx-background-color: "#ffcdb2";
    -fx-border-color: "#b5838d";
    -fx-border-width: 0px 0px 2px 0px;
}

.button {
    -fx-font-family: "consolas";
    -fx-background-color: "#ffcdb2";
    -fx-border-color: "#b5838d";
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-background-radius: 2px;
}

.comboBox {
    -fx-font-family: "consolas";
    -fx-background-color: "#ffcdb2";
    -fx-border-color: "#b5838d";
    -fx-border-radius: 2px;
    -fx-border-width: 1px;
    -fx-background-radius: 2px;
}
